# その他
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ関連
*.iml
*.ipr
*.iws
.idea/

# vs code関連
.vscode/

# Flutter/Dart/Pub関連
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# シンボリケーション関連
app.*.symbols

# オブフスケーション関連
app.*.map.json

# Android Studioがここにビルドアーティファクトを置く
/android/app/debug
/android/app/profile
/android/app/release

# Googleサービス関連
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# iOS関連
# ビルド関連の出力ファイル
ios/Pods/
ios/Runner.xcworkspace/
ios/Runner.xcodeproj/
ios/build/

# Xcode関連の設定ファイル
*.xcodeproj
*.xcworkspace
ios/Runner.xcworkspace/contents.xcworkspacedata